html {
	background-color: whitesmoke;
	font-size: 16px;
}

body {
    width: auto%;
    margin: 0 10% 0 10%;
	
	color: gray;
	font-family: wol_reg, segoe ui, helvetica neuve, sans-serif;
	background-color: white;
	font-weight: 600;
}

#header {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	background-color: #124b8d;
}



#banner {
	width: 100%;
	height: 130px;
	line-height: 130px;
	text-align: right;
	background-color: white;
}

#banner img {
	height: 130px;
	width: auto;
	float: left;
}

#banner a:link{
	background-color: mediumspringgreen;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;
}

#banner a:hover {
	background-color: white;
	border: 1px solid mediumspringgreen;
	color: mediumspringgreen;
}

nav {
	background-color: lightskyblue;
	margin: 0px;
	padding: 0px;
	line-height: 65px;
	height: 65px;
	width: 100%;
	text-align: center;	
}

ul {
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

ul li {
	display: table-cell;
	text-align: center;
}

#slideShowImages {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

.wrapper {
	width: 100%;
	height: auto;
}

.image {
	width: 100%;
	height: auto;
}

nav a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;	
}

ul li a:hover {
 background-color: white;
 color: lightskyblue;
}

#header a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 7px 22px 7px 22px;
	margin: 0px;
}

#header a:hover {
	color: #124b8d;
	background-color: white;
}

#animation {
	width: 100%;
	text-align: center;
	
}

#main {
	width: 100%;
	text-align: left;
	font-weight: 400;
	line-height: 70%;
}


#footer {
	margin: auto;
	font-size: 60%;
	text-align: center;
}