/* Primary Styles */

html {
	height: 100%;
}

body {	
	margin-top:			500px;
	height:				100%;
	margin:				0;
	font-family: 		Helvetica, Arial, Times, Calibri, Verdana, sans-serif; /* these are in order of presidence */
	background:			white;
	color:				#777;
	max-width:			100%;
}

#content {
	margin:				auto;
	text-align:			center;
	font-size:			13pt;
	width:				80%;
}

#slideShowImages {
width: 80%;
margin-left:auto;
margin-right:auto;
}

#content a {
	color:				lightblue;
}


.content2 {
	text-align:			left;
}

.content2 li {
	margin-top:			10px;
}


table#founders {
	text-align:			left;
}

.personinfo {
	vertical-align:		top;
}

.image {
	padding-left:		50px;
}

.image img {
	border:				thin solid white;
}



table#involved th {
	height:				70px;
	vertical-align:		top;
	font-size:			15pt;
}

table#involved tr#text1 td {
	text-align:			left;
}

table#involved tr#links td {
	font-size:			15pt;
	height:				50px;
	vertical-align:		bottom;
}

table#involved td:empty {
	width:				80px;
}
