/* Contact Us Sheet */
#emailform {
	text-align:			left;
	margin:				0 auto;
	width:				700px;
}

#emailform label {
	width:				12.5em;
	float:				left;
	padding-left:		70px;
}

#emailform input {
	float:				left;
	width:				300px;
	margin-bottom:		5px;
}

#emailform label#why {
	margin-top:			10px;
	width:				500px;
}

#emailform textarea {
	font-size:			100%;
	margin-left:		70px;
	margin-bottom:		0em;
}

#emailform p {
	margin-bottom:		0.4em;
}

#emailform .submit {
	margin-top:			0.4em;
	margin-bottom:		100px;
	padding-left:		140px;
}

#emailform .submit input{
	padding-left:		0;
	padding-right:		0;
	padding-top:		5px;
	padding-bottom:		5px;
	text-align:			center;
	width:				12em;
	margin-right:		70px;
	border:				3px ridge #aaaaaa;
	border-radius:		10px;
	background:			#9FF781;
}

#emailform .reset input {
	background:			#F78181;
}

p#contactinfo {
	margin:				auto;
	text-align:			left;
	width:				560px;
}
