html {
	background-color: whitesmoke;
	font-size: 16px;
}

body {
    width: auto%;
    margin: 0 10% 0 10%;
	color: gray;
	font-family: wol_reg, segoe ui, helvetica neuve, sans-serif;
	background-color: white;
	font-weight: 600;
}

#header {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	background-color: #124b8d;
}



#banner {
	width: 100%;
	height: 100px;
	text-align: right;
	background-color: white;
}

#banner img {
	height: 100px;
	width: auto;
	float: left;
}

.left { float: left;}

.center {
	padding-right: 200px;
	height: 100px;
	width:	auto;
 }

.right {
	text-align: center;
	text-decoration: none;
	color: white;
	position: relative;
	padding-right: 0px;
	float: right;
} 

#banner a:hover {
	background-color: white;
	color: mediumspringgreen;
}

nav {
	background-color: #124b8d;
	margin: 0px;
	padding: 0px;
	line-height: 65px;
	height: 65px;
	width: 100%;
	text-align: center;	
}

.time {
	border-top:2px solid black;
	float:	right;	
	height: 65px;
}

ul {
	list-style-image: url('images/schedule.png');
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

ul li {
	display: table-cell;
	text-align: center;
}


#slideShowImages {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

.wrapper {
	width: 100%;
	height: auto;
}

.image {
	width: 100%;
	height: auto;
}

nav a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;	
}

ul li a:hover {
 background-color: #afb6ba;
 color: lightskyblue;
}

#header a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 7px 22px 7px 22px;
	margin: 0px;
}

#header a:hover {
	color: #124b8d;
	background-color: white;
}

#main {
	width: 100%;
	text-align: left;
	font-weight: 400;
}

#animation {
	width:	auto;
	text-align:	center;
	padding-left: 25%;
}

#whatwedo {
	width: 70%;
	text-align: center;
}

#whovideo{
	text-align: center;
}

#footer {
	margin: auto;
	font-size: 60%;
	text-align: center;
}